/* Loader Starts Here */
/* Loader */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #E84545;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader h1 {
    font-size: 8vh;
    color: white;
    font-family: "Raleway", sans-serif;
    margin-bottom: 6vh;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}


.loader::after {
    content: "";
    height: 2.5rem;
    width: 2.5rem;
    border: 5px solid whitesmoke;
    border-top-color: #E84545;
    font-family: 'Roboto Slab', serif;
    border-radius: 50%;
    animation: loading 1s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

/*Loader Ends Here  */




/* Utility Classes */
.roboto {
    font-family: 'Roboto', sans-serif;
}

.garamond {
    font-family: 'EB Garamond', serif;
}

.font-900 {
    font-weight: 2rem !important;
}

.font-size-2rem {
    font-size: 1.8rem !important;
}

.font-size-1rem {
    font-size: 1rem !important;
}

.width-9rem {
    width: 9.3rem !important;
}

.bg-gainsboro {
    background-color: #E5EDF3;


}

.border-gainsboro {
    border: 2px solid #C6C6C7;
}

.bg-red {
    background-color: #E84545 !important;
}

.bg-navy {
    background-color: #121D24;
}

.input-padding {
    padding: 7px 12px;
}

.vh-79 {
    height: 79vh;
}

.color-7777 {
    color: #777777;
}

.color-navy {
    color: #263D4D;
}

.color-f3-bg {
    background-color: #F3F5F5;
}

.color-white-bg {
    background-color: white;
}

.logo {
    color: #E84545 !important;
    background-color: #e8454515 !important;
}

.fontLight{
    font-weight: 1px;
}

.outline-lightis {
    outline-color: #ebe5e5;
}

.border-radius {
    border-radius: 5px 0px 0px 5px;
}

.border-radius2 {
    border-radius: 0px 5px 5px 0px;
}


.scale {
    transform: scale(1.3);

}

.hWithLine::before{
    background-color: #E84545;
    height: 1rem!important;
    width:  2rem!important;
}
.scaleLi {
    transform: scale(1.2);
}

/* <!-- Section 1 starts here --> */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/* On Hover Classes*/

.color-gray-hover:hover {
    color: gainsboro !important;
}

.bg-white-color-orange-hover2:hover {
    color: #E84545 !important;
    background-color: white !important;
    transition: white, 0.5s;
}

.bg-white-color-orange-hover:hover {

    #sun,
    h4,
    button {
        color: #FF4A17 !important;
    }

    ;

    background-color: white !important;
    transition: white,
    0.5s;
}

.color-white-bg-orange-hover:hover {
    color: white !important;
    background-color: #FF4A17;
    transition: white, 0.5s;

}

.color-orange-hover:hover {

    color: #E84545 !important;
    transition: color, 0.5s;

}

body {
    font-family: 'Montserrat', sans-serif;
}

/* For Navbar when it is on white background */
.nav-colored {
    background-color: #121d24bb !important;
    height: 6rem;
    z-index: 8;
    overflow: hidden;
    transition: 1.5s;
}

.sec1 {
    height: 130vh;
    background-image: url("assets/img/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: gray;
    overflow-y: hidden;
}

.sec1 .email {
    padding: 0.6rem 1px;
}

.sec1 h4 {
    opacity: 0.7;
}

/* Section 1 Ends Here */

/* Section 2 starts here */


.sec2 .col-lg-2 {
    width: 8rem;
}

.sec2 img {

    padding: 90%;
    filter: grayscale(100%);
}

.sec2 img:hover {
    filter: grayscale(0%) !important;
    transition: filter 1s;
}

/* Section 2 Ends Here */

/* Section 3 starts here */
.sec3 {
    background-color: #F1F1F1;
}

.sec3 .card {
    padding: 3.2rem 1.8rem;
    margin-top: 2rem;
    box-shadow: 1px 1px 25px rgb(219, 219, 219);
}

.sec3 .card span {
    width: 5rem;
    height: 5rem;

}

/* Section 3 Ends Here */

/* Section 4 starts here */

.sec4 {
    height: 60vh;
    background-image: url("assets/img/stats-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: gray;
    background-blend-mode: multiply;

}

/* Section 4 Ends Here */

/* Section 5 starts here */

.sec5 .col-12 {
    border-top: 1px solid gainsboro;
    padding: 3rem 1px;
    margin-top: 0px !important;
}

.sec5 i {
    color: #636669;
}

.sec5 .col-12 h5,
p {
    margin-bottom: 0px;
}

/* Section 5 Ends Here */

/* Section 6 starts here */

.sec6 {
    height: 100vh;
    overflow-y: hidden;
}




.sec6 .imgStacked .secondImg {

    position: relative;
    width: 80%;
    height:70%;
}

.sec6 .imgStacked .firstImg {
    width: 80%;
    height:70%;
    position: absolute;
    top: 5rem;
    right: 20%;
    border: 0.5rem solid white !important;
}

/* Section 6 Ends Here */

/* Section 9 starts here */
.sec-9 {
    height: fit-content;
}

.sec-9 .card {
    height: 110vh;
}


.sec9 .card-body h3 {
    font-size: 1.3rem;
    color: #32353A;

}

.sec9 .card-body h4 {
    font-size: 2.8rem;
    color: #E84545;
}

.sec9 .card-body h4 span {
    font-size: 1.1rem;
}

.sec9 .icon {
    display: block;
    background-color: #E84545;
    outline: 7px solid #e8454579;
    border-radius: 100%;
    padding: 1rem;
    width: 4.5rem;
    height: 4.5rem;
}

.sec9 .card-body ul {
    color: #4D5154;
}

.sec9 .card-body ul li {
    padding: 0.4rem 0px;
}

/* Section 11 Starts Here */
.sec11{
    height: auto;
    background-color: #F4F4F4;
}

.sec11 .imgDiv{
    border: 4px solid white;
    border-radius: 100%;
    height: 12rem;
    width:  12rem;
}
/* Section 12 Starts Here */
.sec12{
    height: 50vh;
    background-image: url("assets/img/cta-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: gray;
    background-blend-mode: multiply;
}

.sec13{
    height: auto;
    background-color: #F4F4F4;
}

.sec13 .carousel,.carousel-inner{
    height: 20.2rem;
    width: 40rem;
}

.sec14{
    background-color: #F4F4F4;
}

footer{
    height: 5rem;
    background-color: #EAEAEA;
    font-size: 14px;
    font-weight: lighter;
}
/* Media Queries Start Here */

@media screen and (min-width:0px) and (max-width:566px){
    
    .sec6 {
        height: 160vh;
        overflow-y: hidden;
    }
    .sec6 .imgStacked .secondImg {

        position: relative;
        width: 80%;
        height:50%;
    }
    
    .sec6 .imgStacked .firstImg {
        width: 80%;
        height:50%;
        position: absolute;
        top: 5rem;
        right: 20%;
        border: 0.5rem solid white !important;
    }
    
    /* Section 6 Ends Here */

    .sec13 img{
        height: 7rem!important;
        width:  7rem!important;
    }

    .sec13 p{
            font-size: 13px;
    }

    .sec13 .carousel,.carousel-inner{
        height: 40.2rem;
        width: 20rem;
    }
}

@media screen and (min-width:566px) and (max-width:992px){

    .sec6 {
        height: 160vh;
        overflow-y: hidden;
    }
    .sec6 .imgStacked .secondImg {

        position: relative;
        width: 60%;
        height:50%;
    }
    
    .sec6 .imgStacked .firstImg {
        width: 60%;
        height:50%;
        position: absolute;
        top: 5rem;
        right: 20%;
        border: 0.5rem solid white !important;
    }
    
    /* Section 6 Ends Here */



}